@import '../variables';

.btn {
    padding: 18px 36px;
    background-color: $black;
    color: $white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: $font-14;
    transition: all 0.3s ease;
    a {
        text-decoration: none;
        color: $white;
        font-size: $font-14;
    }
    &:hover {
        background-color: $gray;
    }
}