@import '../variables';
@import '../mixins';

.footer {
    padding: 120px 0 48px;
    text-align: center;
    &__socials {
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            li {
                margin-right: 14px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 18px;
                    color: $black;
                    transition: all 0.4s ease;
                    &:hover {
                        color: $gray;
                    }
                }
            }
        }
    }
    @include breakpoint(mobile) {
        padding: 72px 0 36px 0;
    }
}