@import '../variables';
@import '../mixins';

.page-header {
    margin-top: 144px;
    padding: 144px 0 96px 0;
    text-align: left;
    h2 {
        font-size: 52px;
        line-height: 1.2;
        letter-spacing: -2px;
        font-weight: 700;
        color: $black;
        margin-bottom: 14px;
    }
    p {
        color: $gray;
        font-size: 15px;
        letter-spacing: 0.4px;
        padding-left: 2px;
        max-width: 43%;
    }
    .single-post__content {
        @include postContent;
    }
    @include breakpoint(mobile) {
        padding: 20px 0 40px 0;
        h2 {
            font-size: 42px;
        }
        p {
            max-width: 100%;
        }
    }
}