// Post content 
@mixin postContent {
    span {
        font-size: $font-14;
        color: $gray;
        margin-right: 6px;
        &:nth-child(2) {
            color: $black;
            margin-right: 12px;
            font-weight: $font-700;
        }
    }
}

// Breakpoint
@mixin breakpoint($point) {
    @if $point == mobile {
        @media (max-width: 767px) { @content ; }
    }
    @else if $point == tablet {
        @media (min-width: 768px) and (max-width: 991px) { @content ; }
    }
    @else if $point == desktop {
        @media (min-width: 992px) and (max-width: 1199px) { @content ; }
    }
    @else if $point == large {
        @media (min-width: 1200px) { @content ; }
    }
}