@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import '../scss/variables';
@import '../scss/mixins';

// @import './components/banner.styles.scss';
// @import './components/button.styles.scss';
// @import './components/footer.styles.scss';
// @import './components/form.styles.scss';
// @import './components/layout.styles.scss';
// @import './components/navbar.styles.scss';
// @import './components/pageHeader.styles.scss';
// @import './components/post.styles.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.15;
    h1, h2, h3 {
        color: $black;
    }
    p {
        color: $gray;
        font-size: $font-14;
        line-height: 1.8;
    }
    button {
        border: none;
        background-color: transparent;
    }
}